:root {
  --dark-bg: #242424;
  --light-bg: rgb(255, 255, 255);
  --light-cl: #242424;
  --dark-cl: rgba(255, 255, 255, 0.87);
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: rgb(145 217 201);
  --primary-border: rgb(181 219 211);
  --white: white;
  --primary-hover: rgb(80, 215, 184);
  --gray-light: rgb(217, 217, 217);
  --gray: #a0a0a0;
  --dark: #2d2e37;
  --dark-ghost: #403d4f;
  --bg-gradient: linear-gradient(90deg, #ead1fa, #e0b3e3, #f7d9d7);
}
