.signin {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 80px;
}


.form {
  display: grid;
  justify-items: stretch;
  gap: 20px;
}

.title {
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: bold;

  text-align: center;
}

.logup {
  grid-column: 2;
  text-decoration: none;
}

.logup p {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  color: var(--primary);
}

.error {
  font-size: 14px;
  color: red;
}
